@model DETHI.Models.NVBTModel
@{
    ViewData["Title"] = "Liệt các thiết bị theo từng nhân viên";
}
@{
    <form action="/NhanVien/Update" method ="POST">
    <label>Mã nhân viên:</label><input type="text" name="manv" value="@Model.MaNhanVien"/><br>
    <label>Mã thiết bị:</label><input type="text" name="matb" value="@Model.MaThietBi"/><br>
    <label>Mã căn hộ:</label><input type="text" name="mach" value="@Model.MaCanHo"/><br>
    <label>Lần thứ:</label><input type="text" name="lt" value="@Model.LanThu"/><br>
    <label>Ngày sửa:</label><input type="datetime" name="nbt" value="@Model.NgayBaoTri"/><br>
    <input type="submit" value="Update" name="submit" id="update" />
    </form>
}

